.login-container {
    position: relative;
    width: 350px;
    margin: 4rem auto;
    height: 540px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}


.login-title {
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1da1f2;
    letter-spacing: 1px;
}

.login-form {
    text-align: left;
    margin-top: 30px;
}

.login-container label,
.login-container input,
.login-container button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.login-container label {
    margin-bottom: 4px;
    color: gray;
    margin: 15px 0 5px 5px;
    
}

.login-container input::placeholder {
    color: gray;
}

.login-container input {
    background: #ecf0f3;
    margin: 15px 0 0 0;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.login-container button {
    color: white;
    margin-top: 20px;
    background: #1da1f2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.login-container button:hover {
    box-shadow: none;
}


.error-message{
    font-size: 12px;
    color: red;
    margin:10px;
}
.error-message::before{
    content: "❌ ";
}
.card{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
}

.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
ion-icon.md.hydrated{
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    color: #464040;
    margin-left: 14px;

}
ion-icon.md.hydrated:hover{
    color: white;
    background-color: #1da1f2;
    cursor: pointer;
}
.news, .aboutus, .terms{
    font-size: 15px;
    margin-left: 40px;
    display: inline-block;
    margin-top: 17px;
    line-height: 0px;
}
.rightSide{
    position: relative
}
.news::before{
    content: "";
    width: 28px;
    position: absolute;
    background-color: #8a8a8f;
    height: 1px;
    top: 62px;
    left: 0;
}
.aboutus::before{
    content: "";
    width: 28px;
    position: absolute;
    background-color: #8a8a8f;
    height: 1px;
    top: 98px;
    left: 0;
}
.terms::before{
    content: "";
    width: 28px;
    position: absolute;
    background-color: #8a8a8f;
    height: 1px;
    top: 136px;
    left: 0;
}
.rightSide::before{
    content: "";
    width: 1px;
    position: absolute;
    background-color: #8a8a8f;
    height: 96px;
    margin-top: 53px;
}
.totalFooter{
    background: #8080801a;
    margin-top: 70px;
    box-sizing: border-box;
    padding-top: 45px;
    padding-bottom: 10px;
}
.copyRight{
    display: flex;
    justify-content: center;
}
.news:hover,.aboutus:hover,.terms:hover {
    transition: all 0.5s;
    cursor: pointer;
    color: orange;
}
.updatebtn{
    overflow: hidden;
    padding: 7px 13px;
    border: none;
    position: relative;
    z-index: 1;
    color:white;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(143,64,248,0.5),0 0 0 0;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.updatebtn::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}
.updatebtn:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143,64,248,0.5),-10px 10px 25px 0;
}
.updatebtn:hover::after{
    transform: rotate(150deg);
}
.paralaxtext{
    position: absolute;
    left: 35%;
    top:257px;
    padding: 20px;
    background-color: #80808075;
    color: white;
    transform: translate(-50%, -50%);
    padding: 37px;
    width: 60%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    z-index: 1;
}
.paralex{
    position: relative;
    margin-top: 70px;
}
.input{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.inputField{
    width: 326px;
    border-bottom: 1px solid orange !important;
    border-style: none;
    outline: none;
    background-color: transparent;
    margin-bottom: 50px;
    color: white;
}
.brand{
    width: 100%;
    display: flex;
  justify-content: space-around;
  margin-top: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: gray;
}
.brandimg{
    width: 150px;
}
.image1::after,.image2::after,.image3::after,.image4::after{
    content: "";
    position: absolute;
    background-color: rgb(92, 86, 76);
    width: 1px;
    height: 47px;
    margin-left: 50px;
}
.progress1{
    position: relative;
    width: 350px;
    height: 10px;
    background-color: gray;
    border-radius: 10px;
}
.CusProgress{
    position: absolute;
    top: 1px;
    width: 70%;
    background-color: #0bceaf;
    height: 8px;
    display: inline-block;
    transition: 3s all;
    border-radius: 10px;
    left: 1px;
    animation-name: animationProgressForCustomer;
    animation-duration: 3s;
    animation-iteration-count: 3;
    transition: all 3s;
}
.roffProgress{
    position: absolute;
    top: 1px;
    width: 50%;
    background-color: #0bceaf;
    height: 8px;
    display: inline-block;
    transition: 3s all;
    border-radius: 10px;
    left: 1px;
    animation-name: animationProgressForRoffi;
    animation-duration: 3s;
    animation-iteration-count: 3;
    transition: all 3s;
}
.secureProgress{
    position: absolute;
    top: 1px;
    width: 99.5%;
    background-color: #0bceaf;
    height: 8px;
    display: inline-block;
    transition: 3s all;
    border-radius: 10px;
    left: 1px;
    animation-name: animationProgressForSecure;
    animation-duration: 3s;
    animation-iteration-count: 3;
    transition: all 3s;
}

@keyframes animationProgressForSecure{
    from{
        width: 0px;
    }
    to{
        width: 99.5%;
    }
}
@keyframes animationProgressForCustomer{
    from{
        width: 0px;
    }
    to{
        width: 70%;
    }
}
@keyframes animationProgressForRoffi{
    from{
        width: 0px;
    }
    to{
        width: 50%;
    }
}
.progressBar{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.cusSaticfaction, .roffing,.Secure{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    
}
.CusText{
    display: inline-block;
    margin-right: 50px;
    color: white;
    font-size: 15px;
}
.playbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40PX;
    height: 40PX;
    background: orange;
    border-radius: 100%;
    z-index: 2;
}
.playbtn::before{
    content: "";
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top: -20;
    left: -20;
    right: -20;
    bottom: -20;
    opacity: 0;
    animation: boom1 1.5s linear infinite;
    z-index: 1;
}
.playbtn::after{
    content: "";
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top: -20;
    left: -20;
    right: -20;
    bottom: -20;
    opacity: 0;
    animation-delay: 0.4s;
    animation: boom2 1.5s linear infinite;
    z-index: 1;
}
@keyframes boom1{
    0%{
        transform: scale(.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
}
@keyframes boom2{
    0%{
        transform: scale(.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
}
.watchText{
    color: white;
}
ion-icon.md.hydrated{
    color: white;
    margin-left: 0px;
}